*main {
 width: 70vw;
 margin: 30px 30px 30px 30px ;
 padding: 0px;
 padding-top: 100px;
}

@import url("https://fonts.adobe.com/fonts/futura-pt#fonts-section");
@import url("s.googleapis.com/css?family=Lato&subset=latin,latin-ext");


h1 {
 text-align: center;
 font-family: futura-pt, sans-serif;
 font-size: 4.3em
 font-weight: 300;
}

h2 {
 text-align: center;
 font-family: futura-pt, sans-serif;
 font-size: 1.728em;
 font-weight: 300;
}

h3 {
 font-family: lato, sans-serif;
 font-size: 2.849em;
 font-weight: 700;
 padding-top: 30px;
}

h4 {
 font-family: lato, sans-serif;
 font-weight: 200;
 font-style: italic;
 font-size: 1.35em;
 padding-top: 5px;
 text-align: center;
}

.deck {
 font-family: lato, sans-serif;
 font-weight: 550;
 font-size: 1.89em;
 padding-bottom: 20px;
 text-align: center;
}

.Quotation {
 font-family:lato, sans-serif;
 font-weight :300;
 font-size: 1.89em;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 70px;
}

p {
 font-family: lato, sans-serif;
 font-weight: 400;
 font-size: 1.35em;
 padding-top: 15px;

}

ol li {
 margin-top: 5px;
 margin-left: 1.89em;
 font-family: lato, sans-serif;
 font-size: 1.35em;
 font-weight: 600;
}

li p {
 font-family: lato, sans-serif;
 font-size: 1em;
 font-weight: 400;
 margin-left: 20px;
}

.end {
 font-family: lato, sans-serif;
 font-size: 1.35em;
 font-weight: 400;
 margin-left: 60px;
}